* {
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h3 {
    text-align: center;
}

.form_group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="password"],
input[type="text"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    background-color: rgb(52, 201, 52);
    color: white;
    border: none;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: red;
}

a {
    text-decoration: none;
    font-size: 1.2em;
}

a:hover {
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 10px;
}